{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Actitud  <a href="/indicadores">Atrás</a>   
        </div>
        <li><a href="/actitud/porque-abuso/">Por qué el abuso</a></li>
        <li><a href="/actitud/abusadores/">Sobre abusadores</a></li>
        <li><a href="/actitud/victimas/">Sobre victimas</a></li>
        <li><a href="/actitud/familia-ensena-ninos/">Familia enseña</a></li>
        <li><a href="/actitud/escuela-ensena/">Escuela enseña</a></li>
    </ul>
</div>
{% endblock %}
