{% block content %}
<div class="menu_indicadores">
<ul>
        <div class="titulo_menu">
         Conocimientos  <a href="/indicadores">Atrás</a>   
        </div>
        <li><a href="/conocimiento/que-es-abuso/">¿Qué es abuso?</a></li>
        <li><a href="/conocimiento/en-que-lugar/">¿En que lugar?</a></li>
        <li><a href="/conocimiento/quines-abusan/">¿Quienes abusan?</a></li>
        <li><a href="/conocimiento/como-prevenir/">¿Como prevenir?</a></li>
        <li><a href="/conocimiento/leyes/">Conocimiento de leyes</a></li>
        <li><a href="/conocimiento/donde-aprendio/">¿Donde aprendio?</a></li>
        <li><a href="/conocimiento/donde-informarse/">¿Donde informarse?</a></li>
    </ul>
</div>
{% endblock %}
