{% block content %}
<div class="menu_indicadores">
<ul>
        <div class="titulo_menu">
         Conocimientos  <a href="/indicadores"></a>   
        </div>
        <li><a href="/conocimiento/que-es-abuso/">¿Qué es abuso sexual?</a></li>
        <li><a href="/conocimiento/en-que-lugar/">¿En qué lugar?</a></li>
        <li><a href="/conocimiento/quines-abusan/">¿Quiénes abusan?</a></li>
        <li><a href="/conocimiento/como-prevenir/">¿Cómo prevenir?</a></li>
        <li><a href="/conocimiento/leyes/">Conocimiento de leyes</a></li>
        <li><a href="/conocimiento/donde-aprendio/">¿Dónde aprendió?</a></li>
        <li><a href="/conocimiento/donde-informarse/">¿Dónde informarse?</a></li>
    </ul>
</div>
{% endblock %}
