{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Estado Actual  <a href="/indicadores">Atrás</a>   
        </div>
        <li><a href="/estado-actual/problema-comunidad/">Problema en comunidad</a></li>
        <li><a href="/estado-actual/problema-pais/">Problema en pais</a></li>
        <li><a href="/estado-actual/atencion/">Atenci&oacute;n</a></li>
        <li><a href="/estado-actual/lugares-atencion/">Lugares Atenci&oacute;n</a></li>
        <li><a href="/estado-actual/tipo-atencion/">Tipo de Atencion</a></li>
        <li><a href="/estado-actual/donde-ir/">Donde ir?</a></li>
    </ul>
</div>
{% endblock %}
