{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Estado Actual  <a href="/indicadores"></a>   
        </div>
         <li><a href="/estado-actual/problema-comunidad/">Problema de la comunidad</a></li>
        <li><a href="/estado-actual/problema-pais/">Problema del país</a></li>
        <li><a href="/estado-actual/atencion/">Atenci&oacute;n en la comunidad</a></li>
        <li><a href="/estado-actual/lugares-atencion/">Lugares de atenci&oacute;n</a></li>
        <li><a href="/estado-actual/tipo-atencion/">Tipo de atención</a></li>
        <li><a href="/estado-actual/donde-ir/">No hay Lugares de atención</a></li>
    </ul>
</div>
{% endblock %}
