{% extends "base.html" %}
{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
 <script type="text/javascript" src="/files/js/thema.js"></script>
<script type="text/javascript">
var chart1;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container1',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Datos generales de los Departamentos'
            },
            subtitle: {
                text: ''
            },
             exporting: {
                enabled: true
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '%'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in depart %}
                {
                    name: '{{value.0}}',
                    data: [{{value.2}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y+'%';
                                                  },
                        style: {
                            font: 'normal 16px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
    


var chart3;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container3',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Datos generales Religión'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in religion %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});
//corte
var chart4;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container4',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Datos generales Estado civil'
            },
            subtitle: {
                text: ''
            },
             exporting: {
                enabled: true
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '%'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in civil %}
                {
                    name: '{{value.0}}',
                    data: [{{value.2}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y+'%';
                                                  },
                        style: {
                            font: 'normal 16px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });

var chart5;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container5',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Datos Generales de escolaridad'
            },
            subtitle: {
                text: ''
            },
             exporting: {
                enabled: true
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '%'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in escolaridad %}
                {
                    name: '{{value.0}}',
                    data: [{{value.2}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y+'%';
                                                  },
                        style: {
                            font: 'normal 16px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });

var chart6;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container6',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Datos generales Hombre, Mujer'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               color: Highcharts.theme.textColor || '#000000',
               connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
        series: [{
         data: [
            ['Hombres',  {{por_hombre}}],
            ['Mujeres',   {{por_mujer}}],
            
         ]
      }]
   });
});

var chart7;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container7',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Datos generales Rural y Urbano'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{
         data: [
            ['Rural',  {{por_rural}}],
            ['Urbano',   {{por_urbano}}],
            
         ]
      }]
   });
});
   
</script>
{%endblock%}

{%block content%}
<table style="width:100%;">
        <caption>Hombre y mujeres</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>Porcentajes</th>
            </tr>
        </thead>
       <tr>
		    <td>Hombres</td>
            <td>{{hombre}}</td>
            <td>{{ por_hombre }}</td>
        </tr>   
        
        <tr>
		    <td>Mujeres</td>
            <td>{{mujer}}</td>
            <td>{{ por_mujer }}</td>
        </tr>   
    </table>
<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico Hombres, Mujeres</div>
<div id="container6" style="width: 958px; height: 500px;"></div>
</div> 
<br>
<table style="width:100%;">
        <caption>Rural y urbano</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>Porcentajes</th>
            </tr>
        </thead>
        <tr>
		    <td>Rural</td>
            <td>{{rural}}</td>
            <td>{{ por_rural }}</td>
        </tr>   
        
        <tr>
		    <td>Urbano</td>
            <td>{{urbano}}</td>
            <td>{{ por_urbano }}</td>
        </tr>   
    </table>
<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico Urbano y Rural</div>
<div id="container7" style="width: 958px; height: 500px;"></div>
</div>   
<br></br>
<table style="width:100%;">
        <caption>Escolaridad</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>Porcentajes</th>
            </tr>
        </thead>
        <tbody>
            {%for algo in escolaridad %}
            <tr>
                <td>{{algo.0}}</td>
                <td>{{algo.1}}</td>
                <td>{{algo.2}}</td>
            </tr>
           {%endfor%}
        </tbody>
    </table>
<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico Escolaridad</div>
<div id="container5" style="width: 958px; height: 500px;"></div>
</div>   
<br></br>
<table style="width:100%;">
        <caption>Civil</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>Porcentajes</th>
            </tr>
        </thead>
        <tbody>
            {%for algo in civil %}
            <tr>
                <td>{{algo.0}}</td>
                <td>{{algo.1}}</td>
                <td>{{algo.2}}</td>
            </tr>
           {%endfor%}
        </tbody>
    </table>
<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico Estado civil</div>
<div id="container4" style="width: 958px; height: 500px;"></div>
</div>   
<br></br>
<table style="width:100%;">
        <caption>Religión</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>Porcentajes</th>
            </tr>
        </thead>
        <tbody>
            {%for algo in religion %}
            <tr>
                <td>{{algo.0}}</td>
                <td>{{algo.1}}</td>
                <td>{{algo.2}}</td>
            </tr>
           {%endfor%}
        </tbody>
    </table>
<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico Religión</div>
<div id="container3" style="width: 958px; height: 500px;"></div>
</div>
<br></br>
<table style="width:100%;">
        <caption>Departamento</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>Porcentajes</th>
            </tr>
        </thead>
        <tbody>
            {%for algo in depart %}
                <td>{{algo.0}}</td>
                <td>{{algo.1}}</td>
                <td>{{algo.2}}</td>
            </tr>
           {%endfor%}
        </tbody>
    </table>
<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico Departamentos</div>
<div id="container1" style="width: 958px; height: 500px;"></div>
</div>
<br></br>
<table style="width:100%;">
        <caption>Municipio</caption>
        <thead>
            <tr>
                <th>Departamentos</th>
                <th>Municipios</th>
                <th>Frecuencia</th>
                <th>Porcentajes</th>
            </tr>
        </thead>
        <tbody>
            {%for algo in munis %}
                <td>{{algo.0}}</td>
                <td>{{algo.1}}</td>
                <td>{{algo.2}}</td>
                <td>{{algo.3}}</td>
            </tr>
           {%endfor%}
        </tbody>
    </table>


{%endblock%}
