{% extends "base.html" %}
{% block extrahead %}

{% endblock %}
{% block content %}
{% include "encuesta/filtro.html"%}
{% if request.session.centinel == 1 %}
<div class="indicadores">
<br>
            <div class="titulo" style="float:left;">Indicadores</div><br><br>
    <div id="dashboard">

        <ul id="familia">
            <b>Información de la familia</b>
            <li><a href="/familia/jefe/">Jefa/e</a></li>
            <li><a href="/familia/vivecon/">¿Con quién vive?</a></li>
            <li><a href="/familia/miembros/">Miembros/as del hogar</a></li>
        </ul>
        <ul id="conocimiento">
            <b>Conocimiento</b>
            <li><a href="/conocimiento/que-es-abuso/">¿Qué es abuso sexual?</a></li>
            <li><a href="/conocimiento/en-que-lugar/">¿En qué lugar?</a></li>
            <li><a href="/conocimiento/quines-abusan/">¿Quiénes abusan?</a></li>
            <li><a href="/conocimiento/como-prevenir/">¿Cómo prevenir?</a></li>
            <li><a href="/conocimiento/leyes/">Conocimiento de leyes</a></li>
            <li><a href="/conocimiento/donde-aprendio/">¿Dónde aprendió?</a></li>
            <li><a href="/conocimiento/donde-informarse/">¿Dónde informarse?</a></li>
        </ul>
        <ul  id="actitud">
            <b>Actitud</b>
            <li><a href="/actitud/porque-abuso/">Por qué sucede el abuso</a></li>
            <li><a href="/actitud/abusadores/">Sobre abusadores</a></li>
            <li><a href="/actitud/victimas/">Sobre víctimas</a></li>
            <li><a href="/actitud/familia-ensena-ninos/">Familia enseña</a></li>
            <li><a href="/actitud/escuela-ensena/">Escuela enseña</a></li>
        </ul>
        <div class="clean"></div>
        <ul id="practica">
            <b>Pr&aacute;ctica</b>
            <li><a href="/practica/que-haria-en-caso/">¿Qué haría usted si conociera? </a></li>
            <li><a href="/practica/para-prevenir/">¿Qué hace usted para prevenir?</a></li>
            <li><a href="/practica/participacion/">¿Participa en organizaciones?</a></li>
            <li><a href="/practica/como-participacion/">¿Cómo participa? </a></li>
        </ul>
        <ul  id="estado">
            <b>Estado Actual</b>
            <li><a href="/estado-actual/problema-comunidad/">Problema de la comunidad</a></li>
            <li><a href="/estado-actual/problema-pais/">Problema del país</a></li>
            <li><a href="/estado-actual/atencion/">Atenci&oacute;n en la Comunidad</a></li>
            <li><a href="/estado-actual/lugares-atencion/">Lugares de Atenci&oacute;n</a></li>
            <li><a href="/estado-actual/tipo-atencion/">Tipo de Atención</a></li>
            <li><a href="/estado-actual/donde-ir/">No hay Lugares de atención </a></li>
        </ul>
        <ul  id="percepcion">
            <b>Percepción</b>
            <li><a href="/percepcion/ninos-abusados/">Conoce niños abusados</a></li>
            <li><a href="/percepcion/donde-se-da/">Frecuencia en familias</a></li>
            <li><a href="/percepcion/encargados-prevenir/">Encargados de prevenir</a></li>
            <li><a href="/percepcion/mensajes-ninos/">Mensajes que recibe la niñez</a></li>
            <li><a href="/percepcion/poblacion-organizada/">Organizada para reducir el abuso</a></li>
            <li><a href="/percepcion/rol-medios/">Rol de medios de comunicación</a></li>
            <li><a href="/percepcion/rol-iglesia/">Rol iglesia</a></li>
            <li><a href="/percepcion/rol-estado/">Rol estado</a></li>
            <li><a href="/percepcion/rol-ong/">Rol ONG</a></li>
            <li><a href="/percepcion/rol-emp/">Rol empresa privada</a></li>
        </ul>
                <div class="clean"></div>
    </div>
</div>

{% endif %}
{% endblock %}
