{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Percepción  <a href="/indicadores">Atrás</a>   
        </div>
        <li><a href="/percepcion/ninos-abusados/">Conoce niños abusados</a></li>
        <li><a href="/percepcion/donde-se-da/">Familias con abuso</a></li>
        <li><a href="/percepcion/encargados-prevenir/">Encargados de prevenir</a></li>
        <li><a href="/percepcion/mensajes-ninos/">Mensajes a ninos</a></li>
        <li><a href="/percepcion/poblacion-organizada/">Poblacion Organizada reduce abuso</a></li>
        <li><a href="/percepcion/rol-medios/">Rol de medios</a></li>
        <li><a href="/percepcion/rol-iglesia/">Rol iglesia</a></li>
        <li><a href="/percepcion/rol-estado/">Rol estado</a></li>
        <li><a href="/percepcion/rol-ong/">Rol ONG</a></li>
        <li><a href="/percepcion/rol-emp/">Rol empresa privada</a></li>
    </ul>
</div>
{% endblock %}
