{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Percepción  <a href="/indicadores"></a>   
        </div>
       <li><a href="/percepcion/ninos-abusados/">Conoce niña/os abusados</a></li>
        <li><a href="/percepcion/donde-se-da/">Frecuencia en familias</a></li>
        <li><a href="/percepcion/encargados-prevenir/">Encargados de prevenir</a></li>
        <li><a href="/percepcion/mensajes-ninos/">Mensajes que recibe la niñez</a></li>
        <li><a href="/percepcion/poblacion-organizada/">Organizada para reducir el abuso</a></li>
        <li><a href="/percepcion/rol-medios/">Rol de medios de comunicación</a></li>
        <li><a href="/percepcion/rol-iglesia/">Rol iglesia</a></li>
        <li><a href="/percepcion/rol-estado/">Rol estado</a></li>
        <li><a href="/percepcion/rol-ong/">Rol ONG</a></li>
        <li><a href="/percepcion/rol-emp/">Rol empresa privada</a></li>
    </ul>
</div>
{% endblock %}
