{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Prácticas  <a href="/indicadores"></a>   
        </div>
        <li><a href="/practica/que-haria-en-caso/">¿Qué haría usted si conociera? </a></li>
        <li><a href="/practica/para-prevenir/">¿Qué hace Usted para prevenir?</a></li>
        <li><a href="/practica/participacion/">¿Participa en organizaciones?</a></li>
        <li><a href="/practica/como-participacion/">¿Cómo participa? </a></li>
    </ul>
</div>
{% endblock %}
