{% extends "base.html" %}
{% block extratitle %}Actitud{% endblock %}

{% block content %}
{% include "encuesta/filtro.html"%}
<br>
<div class="indicadores">
<div class="titulo" style="float:left;">Indicadores</div><div class="titulo" style="float:left;">Actitud</div><div class="titulo" style="float:left;">Escuela Enseña</div>
<div class="botones-descarga"><a href="/actitud/escuela_xls"><img src="/files/img/doc.png"></a><a href="/actitud/escuela_xls"><img src="/files/img/pdf.png"></a></div>
<div class="clean"></div>
</div>
{% include "encuesta/actitud.html" %}
<table>
        <caption>¿Estaría usted de acuerdo que en la Escuela se enseñe a los niños, niñas y adolescentes a prevenir el abuso sexual? <span class="numencuestas">Encuestas {{numero}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in dicc2 %}
            <tr>
                <td>{{key}}</td>
                {%for i in value%}
                    <td>{{i|floatformat}}</td>    
                {%endfor%}
           {%endfor%}
        </tbody>
    </table>
<div class="clean"></div>
<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico  <span class="numencuestas">Encuestas {{numero}}</span></div>
<img src="{{grafo_url}}" alt="¿Actitud escuela?" title="¿Actitud escuela?">
</div>
{% endblock %}
