{% extends "base.html" %}
{% block extratitle %}Actitud{% endblock %}

{% block content %}
{% include "encuesta/filtro.html"%}
{% include "encuesta/actitud.html" %}
<table>
        <caption>¿Estaría usted de acuerdo que en la Familia se enseñe a los niños, niñas y adolescentes a prevenir el abuso sexual?</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in dicc2 %}
            <tr>
                <td>{{key}}</td>
                {%for i in value%}
                    <td>{{i|floatformat}}</td>    
                {%endfor%}
           {%endfor%}
        </tbody>
    </table> 
<img src="{{grafo_url}}" alt="¿Actitud de la familia?" title="¿actitud de la familia?">
{% endblock %}
