{% extends "base.html" %}
{% block extratitle %}Prácticas{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
 <script type="text/javascript" src="/files/js/thema.js"></script>
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'bar'
            },
            title: {
                text: '¿Cómo participa?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (Que dijeron si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                },
                bar: {
                        dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [{
         name: 'Asisto a charlas que brindan en la comunidad',
         data: [{{por_primer}}]
      }, {
         name: 'Promotoría/Capacitación/Acompañamiento',
         data: [{{por_segundo}}]
      }]
      
        });
    });
</script>
{% endblock %}

{% block content %}
{% include "encuesta/filtro.html"%}
<br>
<div class="indicadores">
<div class="titulo" style="float:left;"><a href="/indicadores">Indicadores</a></div><div class="titulo" style="float:left;">Práctica</div><div class="titulo" style="float:left;">¿Cómo participa? </div>
<div class="botones-descarga"><a href="/practica_como.xls"><img src="/files/img/doc.png"></a><a href="/practica_como.pdf"><img src="/files/img/pdf.png"></a></div>
<div class="clean"></div>
</div>
{% include "encuesta/practica.html" %} 
<table>
        <caption>¿Cómo participa? <span class="numencuestas">Encuestas si {{numero_si}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
         <tr>
		    <td>Asisto a charlas que brindan en la comunidad</td>
            <td>{{primer}}</td>
            <td>{{ por_primer }}</td>
        </tr>   
        <tr>
		    <td>Promotoría/Capacitación/Acompañamiento</td>
            <td>{{segundo}}</td>
            <td>{{ por_segundo }}</td>
        </tr>
        
</table>
    </table>
<div class="clean"></div>
<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico  <span class="numencuestas">Encuestas si {{numero_si}}</span></div>
    <div id="container" >

    </div>
</div>
{% endblock %}
