{% extends "base.html" %}
{% block extratitle %}Prácticas{% endblock %}

{% block content %}
{% include "encuesta/filtro.html"%}
<br>
<div class="indicadores">
<div class="titulo" style="float:left;">Indicadores</div><div class="titulo" style="float:left;">Práctica</div><div class="titulo" style="float:left;">¿Participa Organizaciones?</div>
<div class="botones-descarga"><a href="/practica_participa_prevenir.xls"><img src="/files/img/doc.png"></a><a href="/practica_participa_prevenir.pdf"><img src="/files/img/pdf.png"></a></div>
<div class="clean"></div>
</div>
{% include "encuesta/practica.html" %}
<table>
        <caption>¿Usted participa o ha participado en algún tipo de organización que previene el abuso sexual? <span class="numencuestas">Encuestas {{numero}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in dicc2 %}
            <tr>
                <td>{{key}}</td>
                {%for i in value%}
                    <td>{{i|floatformat}}</td>    
                {%endfor%}
           {%endfor%}
        </tbody>
    </table>
    <div class="clean"></div>
    <div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico  <span class="numencuestas">Encuestas {{numero}}</span></div>
<img src="{{grafo_url}}" alt="¿Participa para prevenir?" title="¿Participa para prevenir?">
    </div>
{% endblock %}
