<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>MCAS | {% block extratitle %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet"  href="/files/css/mcas.css">
    </head>
    <body>
        <div id="contenido">
            <div class="wrapper">
                {% block content %}
                {% endblock %}
                <div class="clean"></div>
            </div>
            <div class="clean"></div>
        </div>
    </body>
</html>
