{% extends "base.html" %}
{% block extratitle %}Home{% endblock %}

{% block extrahead %}
<script src="/files/js/cufon-yui.js" type="text/javascript"></script>
<script src="/files/js/cholla.font.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function($) {
        Cufon.replace('.cantidad');
    });
</script>
<style type="text/css">
    .nav .inicio a{
        background-position: 0px -14px;
    }
</style>
{% endblock %}

{% block content %}
<div class="portada">
    <img src="/files/img/portada.png" alt="mcas">
</div>
<div class="info">
    <b>El Sistema de Monitoreo del Movimiento en contra el abuso sexual</b> 
</div>
<div class="help">

</div>
<div class="clean"></div>
<div class="info-bar">
    <div class="cantidad familias">{{total_encuesta}}</div>
    <div class="cantidad orgs">{{total_organizacion}}</div>
    <a href="/consultar/" class="consultar">Consultar</a>
</div>
{% endblock %}
