{% extends "base.html" %}
{% block extratitle %}Home{% endblock %}

{% block extrahead %}
<script src="/files/js/cufon-yui.js" type="text/javascript"></script>
<script src="/files/js/cholla.font.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function($) {
        Cufon.replace('.cantidad');
    });
</script>
<style type="text/css">
    .nav .inicio a{
        background-position: 0px -14px;
    }
</style>
    <!-- Older IE stylesheet, to reposition navigation arrows, added AFTER the theme stylesheet above -->
    <!--[if lte IE 7]>
    <link type="text/css" rel="stylesheet"  href="/files/css/anythingslider-ie.css">
    <![endif]-->
    <script src="/files/js/jquery.anythingslider.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet"  href="/files/css/anythingslider.css">
    <link type="text/css" rel="stylesheet"  href="/files/css/theme-metallic.css">
   <script>
        // Set up Sliders
        // **************
        $(function(){

            $('#slider1').anythingSlider({
                startStopped    : false, // If autoPlay is on, this can force it to start stopped
                width           : 960,   // Override the default CSS width
                height           : 248,
                buildArrows         : false,
                theme           : 'metallic',
                easing          : 'easeInOutBack',
                autoPlay        : true,
                delay           : 9000,
                toggleControls      : false,
                toggleArrows        : false,
//              autoPlayLocked  : true,  // If true, user changing slides will not stop the slideshow
//              resumeDelay     : 10000, // Resume slideshow after user interaction, only if autoplayLocked is true (in milliseconds).
                onSlideComplete : function(slider){
                    // alert('Welcome to Slide #' + slider.currentPage);
                },
                stopAtEnd : false,
                onShowStop : function(e, slider){
                    setTimeout(function(){
                        if (slider.currentPage === slider.pages) { slider.gotoPage(1); }
                    }, 5000);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
 <ul id="slider1" style="margin-left:">
     <li class="panel1">
         <div class="textSlide">
         <span class="rightside" style="padding-right: 0px;"><img src="/files/img/fotos/portada.png" alt="" /></span>
             <div class="info">
               <b>Sistema de Monitoreo del <br>Movimiento contra el Abuso Sexual NICARAGUA</b><br><br>
El MCAS presenta esta investigación que abre una ventana sobre la percepción
del abuso sexual en Nicaragua. Te invitamos a recorrer todo su contenido y
enviarnos tus comentarios, análisis y sugerencias a nuestro correo electrónico:
                <p>
                hablemosde.absusosexual@gmail.com
                </p>
                <p>
                ¡Todas las voces y todas las voluntades contra el Abuso Sexual!
                 </p>
                 <a class="botonaprende" href="#"></a>
            </div>
         </div>
     </li>
     <li class="panel2">
         <div class="textSlide">
         <span class="rightside" style="padding-right: 0px;"><img src="/files/img/fotos/portada1.png" alt="" /></span>
             <div class="info">
               <b>Sistema de Monitoreo del Movimiento contra el Abuso Sexual<br> NICARAGUA</b><br><br>
The MCAS presents this research that opens a window about sexual
abuse perceptions in Nicaragua. We invite you to browse its contents
and send us your comments, analysis and suggestions to our e-mail:
                <p>
                hablemosde.absusosexual@gmail.com
                </p>
                <p>
All voices and all wills against Sexual Abuse!
                 </p>
                 <a class="botonaprende" href="#"></a>
            </div>
         </div>
     </li>
     <li class="panel2">
         <div class="textSlide">
         <span class="rightside" style="padding-right: 0px;"><img src="/files/img/fotos/portada2.png" alt="" /></span>
             <div class="info">
               <b>Sistema de Monitoreo del Movimiento contra el Abuso Sexual<br> NICARAGUA</b><br><br>
               El MCAS presenta esta investigación que abre una ventana sobre la percepción del abuso sexual en Nicaragua.
                Invitamos a recorrer todo su contenido y enviarnos tus comentarios, análisis y sugerencias a nuestro correo electrónico
                <p>
                hablemosde.absusosexual@gmail.com
                </p>
                <p>
                TODAS LAS VOCES Y TODAS LAS VOLUNTADES CONTRA EL ABUSO SEXUAL!
                 </p>
                 <a class="botonaprende" href="#"></a>
            </div>
         </div>
     </li>
 </ul>

<!--<div class="help">-->

<!--</div>-->
<div class="clean"></div>
<div class="info-bar">
    <div class="cantidad familias">{{total_encuesta}}</div>
    <div class="cantidad orgs">{{total_organizacion}}</div>
    <a href="/consultar/" class="consultar">Consultar</a>
</div>
{% endblock %}
