body{
    padding: 0;
    height: 0;
    background-color: #f5f5ee;
    font-family: "Trebuchet MS", sans-serif;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.clean{
    clear: both;
}
img{
    border: none;
}
a{
    outline: none;
}
#header{
    height: 104px;
    width: 100%;
    background: url(/files/img/line-back.png) repeat-x bottom;
}
#header .nav{
    float: left;
}
.nav .monitoreo{
    float: left;
}
.nav a{
    background: url(/files/img/sprite.png) no-repeat;
    text-indent: -9999px;
    display: block;
    height: 14px;    
}
.nav .botones{
    float: left;
    margin-top: 25px;
}
.nav div{
    float: left;
    margin-right: 10px;    
}
.nav .inicio{
    background: url(/files/img/sprite.png) no-repeat 0px -29px;
    padding-left: 27px;
    padding-top: 3px;    
    height: 17px;
}
.nav .inicio a{
    width: 44px;
}
.nav .inicio a:hover{
    background-position: 0px -14px;
}
.nav .consultas{
    background: url(/files/img/sprite.png) no-repeat 0px -48px;
    padding-left: 27px;
    padding-top: 4px;
    height: 20px;
}
.nav .consultas a{
    width: 83px;
    background-position: -44px 0px
}
.nav .consultas a:hover{
    background-position: -44px -14px;
}
.nav .entrar{	
    background: url(/files/img/sprite.png) no-repeat 0px -72px;
    padding-left: 23px;
    padding-top: 4px;
    height: 18px;
}
.nav .entrar a{
    width: 126px;
    background-position: -127px 0px
}
.nav .entrar a:hover{
    background-position: -127px -14px;
}
#header .wrapper .logo{
    float: right;
    margin-right: 15px;
}
.portada{
    float: left;
    width: 358px;
    margin-top: 10px;
    margin-right: 15px;
}
.info{
    margin-top: 15px;
    float: left;
    font-size: 13px;
    line-height: 16px;
    font-family: "Georgia", sans-serif;
    width: 326px;
    margin-right: 10px;
}
.help{
    float: left;
    width: 231px;
    height: 239px;
    background: url(/files/img/help.png) no-repeat;
    margin-top: 10px;
}
.info-bar{
    margin-top: 20px;
    background: url(/files/img/info-bar.png) no-repeat;
    height: 69px;
    width: 100%;
}
.info-bar .cantidad{
    font-size: 30px;
    color: #7f7f7f;
    float: left;
}
.info-bar .familias{
    margin-left: 110px;
    margin-top: 18px;
}
.info-bar .orgs{
    margin-left: 105px;
    margin-top: 18px;
}
.consultar{
    float: right;
    margin-top: 13px;
    margin-right: 30px;
    display: block;
    background: url(/files/img/sprite.png) no-repeat 0px -94px;
    width: 138px;
    height: 44px;
    text-indent: -9999px;
    border: none;
}
.consultar:hover{
    background-position: -138px -94px;
}
#footer{
    margin-top: 25px;
}
#footer .wrapper{
    background: #373731;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*sombra*/
    box-shadow: 0px 1px 3px #000;
    -webkit-box-shadow: 0px 1px 3px #000;
    -moz-box-shadow: 0px 1px 3px #000;
}
#footer .ultimas{
    height: 42px;
    width: 100%;
}
#footer .creditos{
    height: 42px;
    width: 100%;
    background: #42423b;
    /*bordes*/
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius-bottomright: 5px;
    border-radius-bottomleft: 5px;    
}
#footer .creditos .datos, #footer .ultimas .datos{
    float: right;
    margin-right: 10px;
    line-height: 42px;
    color: #161616;
    font-size: 12px;
    font-family: "Arial", sans-serif;
}
#footer .creditos .datos a{
    color: #161616;
    text-decoration: none;
    font-weight: bold;
}
#footer .creditos .datos a:hover{
    color: #ccc;
}
#footer .ultimas .datos{
    padding-right: 60px;
    padding-left: 100px;
    background: url(/files/img/logo-black.png) no-repeat right;
}
#footer .ultimas .datos a{
    color: #686868;
    font-size: 12px;
    text-decoration: none;
}
#footer .ultimas .datos a:hover{
    color: #db6b28;
}
/*ESTILO DEL FORM*/
#consultar-form{
    margin-top: 15px;    
}
.general, .lugar, .extras{
    float: left;
}
.general .titulo, .lugar .titulo, .extras .titulo, .indicadores .titulo{
    font-size: 23px;
    color: #a1a79f;
    background: url(/files/img/arrow-back.png) no-repeat center left;
    padding-left: 23px;
    margin-bottom: 10px;
}
.label{
    float: left;
    width: 86px;
    background: #dbdbc1;
    min-height: 38px;
    border-left: 1px #bbbb8a solid;
    border-right: 1px #bbbb8a solid;
    border-bottom: 1px #fff solid;
    border-top: 1px #dcdcc3 solid;
    font-size: 13px;
    color: #4c4c2c;
    padding-top: 10px;
    font-family: "Arial", sans-serif;    
    padding-left: 10px;
}
.filtros{
    float: left;
    width: 210px;
    background: #ececde;
    min-height: 35px;
    border-bottom: 1px #fff solid;
    border-top: 1px #dcdcc3 solid;
    padding-top: 13px;
    padding-left: 10px;
}
.filtros select{
    width: 170px;
    border: 1px #587d52 solid;
    background: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.errorlist{
    font-size: 11px;
    color: red;
    padding: 0;
    margin: 0;
    list-style: none;
}
.indicadores ul{
    float: left;
    font-size: 13px;
    width: 280px;
}
/*#id_municipio, #id_comunidad{
    display: none;
}*/
.contenedor{
    border: 1px #bfbf92 solid;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-radius-topright: 10px;
    border-radius-topleft: 10px;
    margin-top: 20px;
}
.grafico-title{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-radius-topright: 10px;
    border-radius-topleft: 10px;
    height: 35px;    
    background: url(/files/img/back-tabla.png) repeat-x;
    line-height: 35px;
    padding-left: 15px;
}

/*ESTO ES EL ESTILO DE LAS TABLAS*/
caption {
    padding: 5px;
    margin:0 auto;
    width:auto;
    margin-top:15px;
    margin-bottom:5px;
    text-align: left;
    font-size:18px;
    color:#48311a;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top:#3d3123 1px dotted;
    border-bottom:#3d3123 1px dotted;
}

th{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #473f31;
    border-right: 1px solid #ded3ba;
    border-bottom: 1px solid #ded3ba;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    font-weight:bold;
    padding: 10px 5px 4px 12px;
/*    background:url(../img/bg_header.png) repeat-x;*/
    vertical-align:middle;

}
td.total{
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
    text-align:right;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
}
td {
    font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #E0DDD2;
    border-bottom: 1px solid #E0DDD2;
    padding: 6px 12px 6px 12px;
    color: #696969;
    background: #FFFFFF;
}
form {
    margin: 0 0;
    padding-top: 5px;    
}

pre { font-size: 130%; background: #f7f7f7; padding: 10px 10px; font-weight: bold; }
.odd, .r1 { background: #fff; }
.even, .r2 { background: #f7f7f7; }
.r3 { background: #ebebeb; }
.search { font-weight:  bold; }

/*MENU INDIVIDUAL DE INDICADORES*/

.menu_indicadores ul{
    float: left;
    font-size: 12px;
    width: 280px;
    list-style: none;
}
.titulo_menu {
    height: 30px;    
    background: url(/files/img/bg_header.png) repeat-x;
    line-height: 35px;
    padding-left: 4px;
    font-size: 20px;
}

/*CSS DE LAS CONSULTAS*/
#filtros{
    background: url(../imagen/fondofiltro.png) repeat-x;
    height:36px;

    border-bottom:#d6d1d1 1px solid;
    width:962px;
}

.variables{
    float:left;
    background:#fce795;
    width:85px;
    font-weight:bold;
    height:26px;
    padding-top:10px;
    padding-left:15px;
    margin-right:15px;
}

.variables_filtro{
    float:left;
    font-size:12px;
    margin-top:4px;
    margin-right:10px;
    padding-right:10px;
    border-right:#d5d5d5 1px solid;
}

#filtros a, #filtros a:visited{
    padding-top:6px;
    padding-bottom:6px;
    padding-left:8px;
    padding-right:8px;
    background: #85a846 url(../imagen/fondo_consultar_boton.png) repeat-x;
    color:#fff;
    margin-top:4px;
    margin-right:5px;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    border:#d7ab32 1px solid;
    text-shadow: 0px -1px 0px #d7ab32;
    -moz-text-shadow: 0px -1px 0px #d7ab32;
    -webkit-text-shadow: 0px -1px 0px #d7ab32;
    border-radius:100px;
    -moz-border-radius:100px; 
    -webkit-border-radius:100px;
    float:right;
    margin-right:12px;

}

#filtros a:hover{
    background: #eec116;
}

/*EL NIVO PARA EL CARRUCEL DE LAS IMAGENES*/
.slider {
    position:relative;
    width:357px; /* Change this to your images width */
    height:248px; /* Change this to your images height */
    background:url(../img/loading.gif) no-repeat 50% 50%;
}
.slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.slider a {
    border:0;
    display:block;
}
